* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    background-color: orange;
}

header a {
    color: white;
    text-decoration: none;
    align-items: center;
}

header button {
    background-position: right;
    background-color: white;
    color: gray;
    border-radius: 20px;
    width: 50px;
}

header img {
    background-position: left;
}